<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Voltorb Flip</title>

        <!--
            Put style sheet links here
        -->
        <link rel="stylesheet" href="./style.css">
        <!--
            Put script sources here
        -->
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
        <script src="leaderboardItemTemplate.js"charset="utf-8" defer></script>
        <script src="index.js" charset="utf-8" defer></script>
    </head>
    <body>

        {{{body}}}

    </body>
</html>
