body {
    background-color: lightgreen;
    word-wrap: break-word;
}
.game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

.stats-element {
    width: auto;
    border: 2px solid lightgray;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    text-align: center;
    margin-right: 20px;
}

.board-container {
    width: 100%;
    max-width: 550px;
    position: relative;
}

.hidden {
    display: none;
  }