body {
    background-color: lightgreen;
    word-wrap: break-word;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.game-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

.stats-element {
    width: auto;
    border: 2px solid lightgray;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
    text-align: center;
    margin-right: 20px;
}

.board-container {
    width: 100%;
    max-width: 550px;
    position: relative;
}

.control-container {
    position: absolute;
    /*visibility: hidden;*/
    left: 25%;
    top: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    background-color: white;
    border: 3px solid black;
    border-radius: 6px;
    width: 50%;
}

.hidden {
    display: none;
}



.leaderboard-container {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
    background-color: white;
    border: 3px solid black;
    border-radius: 6px;
    width: 10%;
}